/* Tag Selectors */
body {
  background-color: #efefef;
  font-size: 16pt;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
}

a:hover {
  color: #01c5c4;
}

p {
  font-family: 'Mallanna', sans-serif;
  font-weight: 400;
  font-size: 16pt;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;

}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
}

h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
}

ul {
  list-style-type: none;
  font-family: 'Mallanna', sans-serif;
}

ol {
  font-family: 'Mallanna', sans-serif;
}

/* ID Selectors */

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-container {
  background-color: #dbdbdb;
  position: fixed;
  margin-top: -1vh;
  width: 100%;
  height: 4vh;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  -moz-box-shadow: 3px 3px 9px lightgrey;
  -webkit-box-shadow: 5px 3px 9px lightgrey;
  box-shadow: 5px 5px 9px lightgray;
}

#header-container-content {
  width: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

#header-my-name {
  font-size: 30pt;
  display: flex;
}

#header-menu {
  width: 18vh;
  margin-right: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

#app-container-content {
  width: 65vh;
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}

#middle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 65vh;
}

#middle-container-sidebar {
  background-color: #dee3e2;
  position: fixed;
  width: 65vh;
  height: 3vh;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 9px lightgrey;
  -webkit-box-shadow: 3px 3px 9px lightgrey;
  box-shadow: 3px 5px 9px lightgray;
}

#middle-container-sidebar-content {
  width: 14vh;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
}

#middle-container-main-front-page {
  background-color: #fdfdfd;
  height: 34vh;
  width: 65vh;
  margin-top: 4vh;
  border-radius: 5px;
  -moz-box-shadow: 58px 58px 511px lightgrey;
  -webkit-box-shadow: 58px 58px 511px lightgrey;
  box-shadow: 58px 58px 511px lightgray;
}

#middle-container-main-front-page-content {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
  display: block;
  overflow-y: auto;
}

#middle-bottom-container-front-page {
  background-color: #fdfdfd;
  min-height: 50vh;
  width: 65vh;
  margin-top: 1vh;
  border-radius: 5px;
  -moz-box-shadow: 58px 58px 511px lightgrey;
  -webkit-box-shadow: 58px 58px 511px lightgrey;
  box-shadow: 58px 58px 511px lightgray;
}

#middle-bottom-container-front-page-content {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
  display: block;
  overflow-y: auto;
}

#middle-container-main {
  background-color: #fdfdfd;
  min-height: 75vh;
  width: 65vh;
  margin-top: 5vh;
  border-radius: 5px;
  -moz-box-shadow: 58px 58px 511px lightgrey;
  -webkit-box-shadow: 58px 58px 511px lightgrey;
  box-shadow: 58px 58px 511px lightgray;
}

#middle-container-main-content {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
  display: block;
  overflow-y: auto;
}

#index-container {
  display: flex;
}

#index-container-text {
  margin-left: 5vh;
}

#contact-container {
  display: flex;
}

#contact-container-content-text {
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact-image {
  width: 175px;
  height: 175px;
}

/* Class Selectors */

.anchor-style-1 {
  font-family: 'IBM Plex Mono', monospace;
  color: #01c5c4;
}

.anchor-style-1:hover {
  text-decoration: underline;
}

.list-project {
  margin-top: 0vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.list-project-content {
  width: 40vh;
}

.list-button {
  background-color: #01c5c4;
  color: white;
  border-radius: .35rem;
  padding: 10px;
  /* height: 10px */
}

.list-button:hover {
  color: white;
  background-color: #04A1A1;
}

@media (max-width: 800px) {

}